IMUMCode/WebServiceCall/src/com/imum/ws/PVTDiscount/BulkDiscountApprovalBPMProcess.service.wsdl

<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/BulkDiscountApprovalBPMProcess"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/BulkDiscountApprovalBPMProcess"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://cpmsdev1:8001/soa-infra/services/default/BulkDiscountApprovalBPM!1.0/BulkDiscountApprovalBPMProcess.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="BulkDiscountApprovalBPMProcessPortTypePartnerLinkType">
        <plnk:role name="BulkDiscountApprovalBPMProcessPortTypeProvider">
            <plnk:portType name="tns:BulkDiscountApprovalBPMProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/BulkDiscountApprovalBPMProcess">
            <xsd:element name="cancelblkd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bulk_seq" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bulkdiscountheaderSeq" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="cancelblkd">
        <wsdl:part name="parameters" element="tns:cancelblkd"/>
    </wsdl:message>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:portType name="BulkDiscountApprovalBPMProcessPortType">
        <wsdl:operation name="cancelblkd">
            <wsdl:input message="tns:cancelblkd"/>
        </wsdl:operation>
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BulkDiscountApprovalBPMProcessBinding" type="tns:BulkDiscountApprovalBPMProcessPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cancelblkd">
            <wsdlsoap:operation style="document" soapAction="cancelblkd"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="start">
            <wsdlsoap:operation style="document" soapAction="start"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BulkDiscountApprovalBPMProcess.service">
        <wsdl:port name="BulkDiscountApprovalBPMProcessPort" binding="tns:BulkDiscountApprovalBPMProcessBinding">
            <wsdlsoap:address location="http://cpmsfmwappdc.cpms.local:8001/soa-infra/services/default/BulkDiscountApprovalBPM/BulkDiscountApprovalBPMProcess.service"/>
        <!--<wsdlsoap:address location="http://192.168.200.112:8001/soa-infra/services/default/BulkDiscountApprovalBPM/BulkDiscountApprovalBPMProcess.service"/>-->
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
